<div class="page-header">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Действие
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Обновить</a>
          </div>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary">Выполнить</button>
        </li>
      </ul>
		</div>
		<div class="col-md-6 col-sm-12 text-right">
			<button type="button" class="btn btn-primary">Добавить</button>
		</div>
	</div>
</div>
