

<div class="pd-20 card-box height-100-p">
  <a href="#" class="btn-block" data-toggle="modal" data-target="#bd-example-modal-lg" type="button">
    <button type="button" class="btn btn-primary">Добавить</button>
  </a>
  <div class="modal fade bs-example-modal-lg" id="bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myLargeModalLabel">Добавить новую функцию</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          {% for error in form.errors %}
            <div class='alert alert-danger' role='alert'>
              {{ error|escape }}
            </div>
          {% endfor %}

          <form method='post' enctype="multipart/form-data" action='{% url "new_graph" %}'>
            {% csrf_token %}

            {% for field in form %}
              <div class='form-group row' aria-required={% if field.field.required %}'true'{% else %}'false'{% endif %}>
                  <label for='{{ field.id_for_label }}' class='col-md-4 col-form-label text-md-right'>{{ field.label }}{% if field.field.required %}<span class='required'>*</span>{% endif %}</label>
                  <div class='col-md-6'>

                    {{ field }}

                    {% if field.help_text %}
                    <small id='{{ field.id_for_label }}-help' class='form-text text-muted'>{{ field.help_text|safe }}</small>
                    {% endif %}
                  </div>        
              </div>
            {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
