{% extends 'base.html' %} 

{% block content %}
{% load thumbnail %}

<div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Функция</th>
      <th scope="col">График</th>
      <th scope="col">Интревал t, дней</th>
      <th scope="col">Шаг t, часы</th>
      <th scope="col">Дата обработки</th>
    </tr>
  </thead>
  <tbody>
  {% for graph in graph_list %}
    <tr>
      <th scope="row">{{graph.id}}</th>
      <td>{{graph.function}}</td>
      <td>{% thumbnail graph.graph '400x400' crop='center' upscale=True as im %}
            <img class='card-img' src='{{ im.url }}' />
          {% endthumbnail %}</td>
      <td>{{graph.interval}}</td>
      <td>{{graph.dt}}</td>
      <td>{{graph.processing_date}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %} 
